.col {
    width: 150px;
    height: 1000px;
    background-color: white;
    float: left;
    border: 1px solid black;
    padding: 40px;
    margin: 5px;
    /* display: flex;
    justify-content: space-between; */

}